.mobile{
    background-color: rgba(0, 2, 128, 0.774)
}
.mobile{
    display: flex;
}
.grys{
    text-align: center;
}
.hrersx{
    margin-left: 30px;
   
}
.hrersx{
    display: flex;
}
.hrsfd{
    display: flex;
}
.dgtea{
    margin-right: 30px;
    background-color: lavenderblush;
}
.bgtsr{
    display: flex;
    margin-right: 30px;
}
.bsrt{
    margin-left:30%;
}
.aghte{
    display: flex;
}
.aghte{
    background-color: slateblue;
}
.ghts{
    text-align: center;
}
.fgty{
    display: flex;
}